.foodTypes{
    display: flex;
    justify-content: space-between;
    width: 470px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: solid thin gray;
    cursor: pointer;
}

.foodTypes:hover{
    background-color: rgb(180, 233, 180);
}

.measuresContainer{
    display: flex;
    justify-content: space-between;
    border: solid black;
    text-align: left;
}

