.logo{
    position: absolute;
    height: 40px;
    width: 250px;
    background-image: url('../Assets/EatRight-removebg-preview__1_-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
}