.mealsContainer{
    display: flex;
    justify-content: space-evenly;
}


.mealContainer{
height: 800px;
width: 450px;
font-family: 'Rancho', cursive;
font-size: 2rem;
border-radius: 10px;
box-shadow: 8px 10px 8px 0 rgba(0,0,0,0.5);
transition: 0.3s;
margin-top: 30px;
}

.mealContainer:hover {
    box-shadow: 8px 10px 16px 0 rgba(26, 117, 159,0.7);
}

table{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

table,
td {
    border: none;
}

thead th{
    height: 50px;
    text-align: center;
}

thead,
tfoot {
    background-color: #b5e48c;
    color: #1a759f;
}

.imgMeal{
    position: absolute;
    background-size: contain;
    width: 450px;
    height: 400px;
}

.plusBtn{
    border-radius: 50px;
    width: 35px;
    height: 35px;
    border: solid thin #1a759f;
    color: #1a759f;
    background-color: white;
    margin-left: 30px;
    cursor: pointer;
    outline: none;
}