.autoCompleteContainer{
    display: flex;
    font-family: 'Rancho', cursive;
    justify-content: center;
}

.autoCompleteContainer input{
    background: transparent;
    border: none;
    border-bottom: solid #1a759f;
    margin-bottom: 20px;
    font-family: 'Rancho', cursive;
}

.foodTypes{
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.foodTypes:hover{
    background-color: rgb(180, 233, 180);
}

.foodTypes img{
    border-radius: 50px;
}
.measuresContainer{
    display: flex;
    justify-content: space-between;
    border: solid black;
    text-align: left;
}

.fullInfo{
    outline: none;
    background: transparent;
    border: none;
    border-bottom: solid #1a759f;
    cursor: pointer;
    font-family: 'Rancho', cursive;

}

