.logo{
    position: absolute;
    height: 38px;
    width: 250px;
    background-image: url('../Assets/EatRight2.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 500px){
.logo{
   display: none;
}

}