.welcome{
    display: flex;
}

.welcome h1{
    font-family: 'Rancho', cursive;
    font-size: 90px;
    text-align: center;
    color:#83c5be;
    margin-left: 30px;
    margin-right: 30px;
}

.titleImage{
    height: 100px;
    width: 300px;
    margin-top: 30px;
    background-image: url('../Assets/EatRight2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.headerImage{
    height: 400px;
    background-image: url('../Assets//NutritionHeader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.homepageInfo{
    position: absolute;
    top: 0;
    margin-top: 500px;
    margin-left: 10px;
    background-color: white;
    width: 800px;
    height: 500px;
    font-size: 28px;
}

.homepageInfo h2{
    font-family: 'Rancho', cursive;
    font-size: 50px;
    text-align: center;
    color:#76c893;
}

.about {
    position: absolute;
    right: 150px;
    width: 900px;
    height: 200px;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
}

.about ul li{
margin: 30px;
}

.about ul li:hover{
    color:#76c893;
}

